USE [AGENDA_MOURA]
GO
/****** Object:  Table [dbo].[AGENDA]    Script Date: 17/11/2020 21:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDA](
	[ID] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SOBRENOME] [varchar](150) NOT NULL,
	[TELEFONE_RESIDENCIAL] [varchar](16) NULL,
	[CELULAR_PRINCIPAL] [varchar](16) NOT NULL,
	[CELULAR_RECADOS] [varchar](16) NULL,
	[ENDERECO] [varchar](256) NOT NULL,
	[NUMERO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](50) NOT NULL,
	[CIDADE] [varchar](30) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AGENDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDA] ADD  CONSTRAINT [DF_AGENDA_ID]  DEFAULT ((1)) FOR [ID]
GO
