@{
    ViewBag.Title = "Contato";
}
<h2>Contato</h2>
<tr>
   <th><img class="img-fluid" src="~/img/jeferson.jpeg" width="80" /></th> 
    <th><h4>Jeferson Costa da Silva</h4></th>
</tr>
<h3>Informações de Contato do Desenvolvedor</h3>
<h4>Jeferson Costa da Silva</h4>

<address>

    Av Renato Correia de Almeida<br />
    Araraquara, SP 14804-236<br />
    <abbr title="Phone">P:</abbr>
    16 99774-3682
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:96jeferson@gmail.com">96jeferson@gmail.com</a><br />
    <strong>GitHub:</strong>   <a href=" https://github.com/costajeferson/Agenda_Moura"> https://github.com/costajeferson/Agenda_Moura</a><br />



</address>