@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda Moura</h1>
    <p class="lead">
        Nós somos a Moura Informática, uma software house que desenvolve tecnologias inovadoras para gestão de negócios há mais de 28 anos.

        Agora disponibilizamos também uma completa plataforma para gestão de redes e franquias do Brasil, o ERP FranquiasMoura.

        Atendemos mais de 3.800 clientes em 11 diferentes ramos de negócios de todos os estados brasileiros. PetMoura, PostoMoura, MagazineMoura, 
        CardapioMoura e SisMoura são algumas das soluções inteligentes para sua empresa. Entre em contato conosco e saiba mais 0800 777 1990..
    </p>
    <p><a href="https://www.linkedin.com/company/jnmourainformatica/" class="btn btn-primary btn-lg">Linkedin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Missão: </h2>
        <p>
            Nossa missão é atuar no setor de automação comercial por meio de desenvolvimento de softwares para gestão corporativa dentro dos padrões de excelência na prestação de serviços aos clientes, 
            proporcionando tranquilidade, segurança e comprometimento na gestão de sua empresa, valorizando os colaboradores e exercendo a responsabilidade social corporativa.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/jnmourainformatica">Linkedin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visão</h2>
        <p>
            Queremos ser uma das empresas líderes do setor de desenvolvimento de softwares para gestão empresarial no 
            mercado nacional juntamente com todo o aparato fiscal e equipamentos.

        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/jnmourainformatica">Linkedin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valores</h2>
        <p>Ética, Comprometimento, Inovação, Responsabilidade e Criatividade..</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/jnmourainformatica">Linkedin &raquo;</a></p>
    </div>
</div>